<h2>Show article</h2>
<div>
  Title: <%= @article.title%>
  Body: <%= @article.body%>
  <%= link_to "Edit article",edit_article_path(@article) %>
  <%= link_to "Article List",articles_path %>
</div>

<% @article.comments.each do |comment|%>
  <div>
    <p>
      commenter: <%= comment.commenter %>
      body: <%= comment.body %>
    </p>
  </div>
<% end %>

<h2>
  Add a comment
</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>